<sds-page>
    <sds-page-options>
        <sds-toolbar #toolbar="sdsToolbar" class="top-205" [expanded]="true">
            <sds-accordion>
                <sds-accordion-item [expanded]="true">
                    <sds-accordion-item-header> Filter By </sds-accordion-item-header>
                    <opps-filters></opps-filters>
                </sds-accordion-item>
            </sds-accordion>
        </sds-toolbar>
        <opps-resultset></opps-resultset>
    </sds-page-options>
</sds-page>
