<div class="grid-row sds-page__content">
    <div class="grid-col">
      <hr class="thin" />
     <!-- <div *ngFor="let opp of opps">-->
      <div *ngFor="let opp of oppsdata">
         <div>
        <div>
          <div class="grid-row grid-gap">            
            <div class="tablet-lg:grid-col-fill">
              <h2  class="sds-card--subtitle"><a class="usa-link"> {{opp.title}}</a></h2>
            </div>
            <div class="tablet-lg:grid-col-auto">
              <div class="grid-row grid-gap">
                <div class="mobile:grid-auto">
                      <span class="sds-type--label-title">Record Date</span>
                      <span class="sds-tag sds-tag--outline flex-justify-center">{{opp.modifiedDate | date }}</span>
                </div>                
                <div class="mobile:grid-auto">
                  <sds-actions-menu [model]="menu" (clicks)="menuClicked($event)"></sds-actions-menu>
                </div>
              </div>
            </div>
          </div>   
          <div class="grid-row grid-gap">
            <div class="tablet:grid-col sds-field sds-field--stacked">
                  <div class="sds-field__name">Department/Ind. Agency:</div>
                  <div class="sds-field__value"> {{opp['organizationHierarchy'][0].name}}</div>
              </div>   
              <div class="tablet:grid-col sds-field sds-field--stacked">
                <div class="sds-field__name">Notice ID</div>
                <div class="sds-field__value">{{opp.solicitationNumber}}</div>
              </div>                        
          </div>    
          <div class="grid-row grid-gap">
            <div class="tablet:grid-col sds-field sds-field--stacked">
              <div class="sds-field__name">Sub-tier:</div>
              <div class="sds-field__value"> {{opp['organizationHierarchy'][1].name}}</div>
          </div>                                                    
            <div class="tablet:grid-col sds-field sds-field--stacked">
              <div class="sds-field__name">Last Updated Date</div>
              <div class="sds-field__value">{{opp.modifiedDate | date}}</div>
            </div>                       
          </div> 
          <div class="grid-row grid-gap">
            <div class="tablet:grid-col sds-field sds-field--stacked">
              <div class="sds-field__name">Office:</div>
              <div class="sds-field__value">{{ opp['organizationHierarchy'][3].name}}  </div>
            </div> 
            <div class="tablet:grid-col sds-field sds-field--stacked">
              <div class="sds-field__name">Last Published Date</div>
              <div class="sds-field__value">{{opp.publishDate | date}}</div>
            </div>
          </div>
          </div>
          <div class="grid-row grid-gap">
            <div class="tablet:grid-col sds-field sds-field--stacked">
              <div class="sds-field__name">Type</div>
              <div class="sds-field__value">{{opp['type'].value}}</div>
            </div>
          </div>  
        </div>
        <hr class="thin" />
      </div>
    </div>

</div>